*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    color: aliceblue;
    }
     
    
    html, body{
    height:100% ;
    width: 100%;
    background-color: black;
    }
    
    .navigation_bar{
        display: flex;
        /* background-color:brown; */
        align-items: center;
         
        height: 20%;
        width: 100%;
       
    
    }
    
    .left_bar{
         align-items: flex-start;
         /* background-color: blueviolet; */
          margin:20px;
         /* border: 2px solid black; */
    
    }
    
    .right_bar{
      
        /* background-color: yellow; */
        display: flex;
        /* border: 2px solid black; */
       
        width: 55%;
     
     
    }
    
    #logo{
        text-align: center;
        height: 50px;
        font-size:30px;
        font-weight:bolder;
        padding: 10px;
        cursor: pointer;
        text-wrap: nowrap;
        
    }
    #logo a{
          text-decoration: none;
    }
    
    #resources{
        align-items: flex-end;
        gap: 1rem;
        display: flex;
        padding: 2px;
        /* background-color: green; */
        margin-left:49%;
         
        
    
        /* text-wrap: nowrap; */
         
    }
    
    #no3{
        cursor: pointer;
    }
    
    #no3 a{
        text-decoration: none;
    }
    
    #resources h3:hover{
        font-size: larger;
    }
    
    .social_media{
        margin:30px;
        display: flex;
        
    }
     
    
    #S_icon{
        cursor: pointer;
        padding: 5px;
        align-items: center;
        justify-content: center;
     
        
        
    }
    
    #S_icon a{
        text-decoration: none;
    
    }
     
    #S_icon :hover{
        font-size:larger;
         
     
    }